<h1>レシピ編集</h1>

<%= form_with model: @recipe,
              local: true,
              html: { multipart: true },
              data: { turbo: false } do |f| %>

  <%= render "form", f: f %>

  <h3>現在の画像</h3>
  <% @recipe.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
    <%= check_box_tag "recipe[remove_image_ids][]", image.id %> 削除
  <% end %>

  <%= f.submit "更新する", name: "stay" %>
  <%= f.submit "投稿する", name: "submit" %>
<% end %>

<%= link_to "やめる", recipes_path %>
