<h1 class="recipe-title"><%= @recipe.title %></h1>

<div class="recipe_image">
  <% if @recipe.image.attached? %>
    <%= image_tag @recipe.image.variant(resize_to_limit: [300, 300]), class: "recipe-image" %>
  <% end %>
</div>

<p>カテゴリー: <%= @recipe.category.name %></p>

<div class="recipe_grocery">
<p class="recipe_grocery_title">材料</p>
  <%= (@recipe.grocery || "").html_safe %>
</div>

<div class="recipe_description">
<p class="recipe_description_title">作り方</p>
  <%= (@recipe.description || "").html_safe %>
</div>

<p class="nutrition_list_title">栄養成分</p>
<ul class="nutrition_list">
  <li>糖質: <%= @recipe.carbs %> g</li>
  <li>脂質: <%= @recipe.fat %> g</li>
  <li>タンパク質: <%= @recipe.protein %> g</li>
  <li>塩分: <%= @recipe.salt %> g</li>
</ul>

<p>投稿日時: <%= l @recipe.created_at, format: :long %></p>

<% if current_user&.guest? %>
  <%= link_to "編集", edit_recipe_path(@recipe) %>
<% end %>

<%= link_to "もとに戻る", recipes_path %>
