<h1><%= @recipe.title %></h1>

<div class="recipe_images">
  <% @recipe.images.take(3).each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [300, 300]), class: "recipe-image" %>
  <% end %>
</div>

<p>カテゴリー: <%= @recipe.category.name %></p>

<h2>作り方</h2>
<div class="recipe_description">
  <%= (@recipe.description || "").html_safe %>
</div>

<h2>材料:</h2>
<div class="recipe_grocery">
  <%= (@recipe.grocery || "").html_safe %>
</div>

<ul class="nutrition_list">
  <li>糖質: <%= @recipe.carbs %> g</li>
  <li>脂質: <%= @recipe.fat %> g</li>
  <li>タンパク質: <%= @recipe.protein %> g</li>
  <li>塩分: <%= @recipe.salt %> g</li>
</ul>

<p>投稿日時: <%= l @recipe.created_at, format: :long %></p>

<% if current_user&.guest? %>
  <%= link_to "編集", edit_recipe_path(@recipe) %>
<% end %>

<%= link_to "もとに戻る", request.referer %>
